<div>
    <div class="alert alert-info">
        @Title!
    </div>

    @if (ChildContent != null)
    {
        <div class="alert alert-success">
            @ChildContent
        </div>
    }

    @if(DangerChildContent != null)
    {
        <div class="alert alert-danger">
            @DangerChildContent
        </div>
    }

    <button class="btn btn-danger" @onclick="OnButtonClick">Button To Be Clicked</button>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public RenderFragment? DangerChildContent { get; set; }

    [Parameter]
    public EventCallback OnButtonClick { get; set; }
}
